@import '../../styles/fonts.scss';
@import '../../styles/variables.scss';

$default-br: 0;

.content-module {
    &.pre-render {
        transform: scale(1.1);
    }

    display: block;
    transition: transform $app-easing-default;
    background: $color-content-module-bg;
    // box-shadow: $content-module-box-shadow;
    border: $content-module-border;
    border-radius: $default-br;

    border-color: $content-module-accent;
    &:focus {
        outline: 3px solid rgba($content-module-accent, .5);

    }

    &__toolbar {
        display: flex;
        padding: $spacer-1 / 2;
        padding-bottom: 0;

        // reset some button styles
        button {
            border: none;
            cursor: pointer;
            outline: 0;
            background: none;
            color: $color-cta-text-color;
        }
    }
    &__tabs {
        flex: 1;
    }
    &__actions {
        flex-grow: 0;
    }
    &__action {
        opacity: .4;
        transition: opacity $app-easing-default;
        
        &:focus, &:hover {
            opacity: 1;
        }
    }
    &__tabs &__tab {
        cursor: pointer;
        margin-right: $spacer-1 / 2;
        padding: $spacer-1 / 2 $spacer-1;
        height: 100%;
        font-weight: 600;
        
        border: 1px solid transparent;
        // background-color: $color-tab-inactive-bg;

        &.active, &:hover {
            // border-color: $color-tab-active-bg;
            border: 1px solid #b9b9b9;
        }

    }
    &__content-representations {

    }
    &__content-representation {
        display: none;
        position: relative;

        // padding: $spacer-1 / 2;
        padding: 0;
        margin: $spacer-1 / 2;

        border: $content-representation-border;


        &.active {
            display: block;
        }

        // This is the content representation web component
        .content-representation {
            &:after {
                display: none;
                opacity: 0;
                transition: opacity .1s linear;
            }

            &.copy-overlay {
                &:after {
                    display: block;
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
    
                    background: white;
                }
            }

            &.copy-overlay.show {
                &:after {
                    opacity: 1;
                }
            }
        }
    }
}