@import '../../styles/fonts.scss';
@import '../../styles/variables.scss';

// global reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
    background-color: $color-background;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-headings;
}
body, pre {
    font-family: $font-content;
}
code {
    font-family: $font-mono;
}

header {
    height: 60px;
    padding: $spacer-1;
    display: flex;

    img {
        flex: 0;
        height: 100%;
        margin-right: $spacer-1;
    }

    h1 {
        flex: 1;
        font-size: 1.6rem;
        display: flex;
        align-items: center;
    }
}

.pasta-drawer__modules {
    max-width: 800px;
    margin: 0 auto;

    &>* {
        display: block;
        margin-bottom: $spacer-1;
    }
}